mixin shows(shows, emptyMessage)
	if shows.length 
		each show in shows
			hr
			div.show
				p #{ show._.date.format('MMMM Do, YYYY') }
				p <strong> #{ show.band } </strong>

				if show.link
					p(style="float:right"): a(href='http://' + show._.link.format()) Tickets

				span.h4 #{ show.location.venue }, 
				span #{ show.location.city }
				br
				br
				p &nbsp; #{ show.description }
				if show.playingWith
					p &nbsp; #{ show.playingWith }
	else
		p #{ emptyMessage }

